/* src/main/resources/static/css/styles.css */

/* Add any global styles you want to apply across multiple pages */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.delete{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#D11A2A;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.delete:hover{
    background: red;
}
a{
    text-decoration: none;
}
.employee-button {
    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  display:inline-flexbox;
  
  background: #4CAF50;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

/* Style for the modal content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

/* Close button style */
.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}